/*$green: #CCE8CC;*/

.about__section {
    display: flex;
    height: 80vh;
    padding: 1px;
}

.about__content {
    display: flex;
    width: 80%;
    margin: 0;
    padding: 40px 20px;;
    height: auto;
    color: $darkRed;
    flex-shrink: 2;
    .about__portrait {
        width: 25%;
        height: auto;
        float: left;
        padding: 1px;
        margin: 40px 40px 20px 20px;
        img {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }
    }
    .about__section__text {
        padding: 20px;
        width: 100%;
        h2 {
        width: 100%;
        height: auto;
        padding: 20px 0;
        float: none;
        margin: 20px 0;
        border-top: 1px solid $darkPurple;
        border-bottom: 1px solid $darkPurple;
        font-family: $heavySerif;
        font-size: 3rem;
        }
        .about__section__text--box {
            padding: 20px 0;
            margin: 1px;
            height: auto;
        }
        p {
            padding: 10px 0;
            width: 100%;
            float: none;
            font-size: 1rem;
        }
        a {
            text-decoration: none;
            color: $darkPurple;
            font-family: $heavySerif;
        }
        
    }
    .about__skill__icons {
        padding: 10px 10px 10px 0;
        margin: 0;
        display: block;
        display: flex;
        width: 100%;
        justify-content: space-between;
        i {
            font-size: 2rem;
            color: $darkRed;
            margin-right: 20px;
            padding: 10px 0;
        }
    }
    .about__resume__download {
        :hover {
            text-decoration: underline;
        }
    }
}
.contact {
    display: flex;
    background-color: $green;
    width: 40%;
    margin: 0;
    height: 80vh;
    color: $grey;
    padding: 10px;
    position: relative;
    overflow: clip;
    .openContact {
        align-self: center;
        background-color: transparent;
        border: none;
        text-decoration: none;
        width: 60px;
        transform: scaleX(-1);
        padding: 10px;
        margin: 0 auto;
        height: 100%;
        i {
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        color: white;
        font-size: 40px;
        }
    }
    
    h3 {
        padding: 20px 0;
        font-weight: 400;
        font-size: 1.5em;
    }
    h4 {
        padding: 20px 40px;
        font-family: $heavySerif;
        font-size: 1.5em;
        margin: 0;
    }
    .contact__social__icons {
        font-size: 20px;
        padding: 20px 40px;
        a {
            text-decoration: none;
            color: $darkPurple;
            padding-right: 20px;
        }
    }
    p {
        padding: 20px 20px 20px 10px;
    }
    form {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        input, .message {
        background-color: $green;
        border-top: none;
        border-right: none;
        border-bottom: 1px white solid;
        border-left: 8px white solid;
        font-family: $sansSerif;
        padding: 5px 10px;
        margin-right: 20px;
        margin-bottom: 40px;
        }
        .name, .subject {
            width: calc(50% - 20px);
        }
        .email, .message {
            width: 100%;
        }
        .message {
            height: 200px;
        }
        .contact__submit {
            background: white;
            font-family: $sansSerif;
            border: none;
            color: $darkPurple;
            padding: 20px;
            &:hover {
                background: $yellow;
            }
        }
    }
    
}