/* Fonts & Colours*/

$heavySerif: 'Cormorant Garamond', serif;
$lightSerif: 'EB Garamond', serif;
$sansSerif: 'Poppins', sans-serif;
$secondNeutral: #dbcdce;
$yellow: #F3EAAF;
/*$yellow: #FBFC9C;*/
$purple: #33293d;
$blue: #D6E7F9;
$mainNeutral: #F6EFEE;
$darkPurple: #A37F89;
$green: #CCE8CC;
$darkRed: #724647;
$grey: #696880;


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}

body {
    font-family: $sansSerif;
    background-color: $mainNeutral;
}

header, section {
    height: 100vh;
    margin: 0;
    padding: 0;
    scroll-snap-align: start;
}

h1, h2, h3 {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h2, h3 {text-transform: capitalize;}

p {
    margin: 0;
    padding: 0;
}

button {
    &:focus {
        transform: translate(0px, 5px);
    }
}