.header__wrap {
    display: flex;
    padding: 5px;
}

.header__quote {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    p {
        margin: 0;
        padding: 30px 20px 35% 0;
        font-family: $lightSerif;
        width: 50%;
        font-size: 1.5rem;
    }
    .header__start--mobile {
        background: none;
        border: none;
        height: auto;
        width: 60px;
        padding: 60% 0 100px 0;
        &:focus {
            transform: translate(2px, 5px);
        }
    }
    .fas {
    font-size: 60px;
    padding-top: 45%;
    }
    .header__start--mobile--a {
        display: none;
        visibility: hidden;
        height: 0;
    }
}


.header__nav--section {
    height: 100%;
    width: 70%;
}

.header__nav {
    display: flex;
    height: auto;
    padding: 1px;
    width: 100%;
    .header__nav__list {
        display: flex;
        margin: 40px 0;
        padding: 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 100%;
        display: flex;
        justify-content: space-between;
    li {
        list-style-type: none;
        padding: 20px 0;
        a {
            margin: 0;
            padding: 5px;
            text-decoration: none;
            color: black;
        }
        a:hover {
        border-bottom: 3px solid $darkPurple;
        }
    }
    }
}

.header__splash {
    display: flex;
    flex-wrap: wrap;
    h1 {
    width: 60%;
    padding-top: 25%;
    margin: 100px 0 30px 0;
    font-size: 6em;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: $mainNeutral;
    }
    h2 {
        width: 50%;
        height: 60px;
        text-transform: none;
    }
    a {
        color: black;
        width: 15%;
        position: absolute;
        height: 0;
        left: -50px;
        top: -50px;
        img {
            width: 100%;
            height: 0;
        }
    }
    
    
}



.header__splash:hover {
        a {
            position: relative;
            height: 100px; 
        }
        
        a img {
            height: auto;
        }
    }





