.mainImg {
    width: 50%;
    height: 300px;
}

.mainImg img {
    width: 100%;
    height: auto;
}

.projectOne {
    background-color: #CFBFB0;
}

.projectTwo {
    background-color: #DAC2C3;
}

.projectThree {
    background-color: #C7D5D0;
}

/*
ochre: #CC936D 
#FAF2EE
*/