.projects {
    padding: 1px;
}

.direct {
    padding: 1px;
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    a {
        width: 100%;
        height: 0;
        align-self: center;
        display: none;
    }
    &:hover a {
            display: block;
            height: auto;
    }
}

.projectLink {
    font-family: $heavySerif;
    font-style: italic;
    padding: 20px 0 40px 0;
    font-size: 2rem;
    text-decoration: none;
    color: $darkPurple;
    &:hover {
        text-decoration: underline;
        color: $grey;
    }
}

.toolList {
    font-family: $heavySerif;
    font-size: 1.5rem;
    width: 100%;
}

.content {
    text-decoration: none;
    .direct a {
        text-decoration: none;
        font-size: 40px;
        padding: 1px;
    }
    h2 {
        padding: 40px 0;
        font-size: 2rem;
    }

}

.project {
    padding: 1px;
}

/* Project #1 - Styles */

.projectOne {
    background-color: $secondNeutral;
    color: $darkRed;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 1px;
    .content {
        width: 100%;
        margin: 0;
        display: flex;
        height: 90vh;
        .toolList {
            padding: 1px 0 50px 20px;
            border-left: 1px solid $darkRed;
        }
        h2 {
            width: 100%;
            padding: 10px 0 10px 0;
            border-top: 1px solid $darkRed;
            border-bottom: 1px solid $darkRed;
        }
    }
    .sectionTwoText {
        padding: 80px 0 40px 0;
    }
    .direct {
        display: flex;
        justify-content: space-between;
    }
    .direct1 {
        size: 1rem;
        color: $darkRed;
        padding: 5px;
        a {
            width: 10%;
        }
        svg.iconify{
            height: 2em;
            color: $darkPurple;
        }
    }
    .projSectOne {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1px;
            p.description {
                width: 100%;
                padding: 60px 0 40px 20px;
            }
        }
    .projSectTwo {
            display: flex;
            flex-direction: column;
            padding-top: 60px;
            .description {
                width: 100%;
                padding: 1px;
                padding: 60px 0 50px 0;
            }
        }

    .projectSection {
        width: 50%;
        height: 90vh;
        padding: 40px 60px;
        h3 {
            padding: 20px 0;
            border-bottom: 1px solid $darkPurple;
        }
        .mainImg, .secondImg {
            width: 100%;
            margin: 0 auto;
            img {
                /*box-shadow: 10px 10px 0 0 $darkPurple;*/
                display: inline-block;
                margin: 0;
                padding: 0;
                width: 100%;
                border: 1px solid $grey;
            }
        }
        .mainImg {
            height: auto;
            margin-bottom: 0;
            padding: 40px 40px 1px 1px;
        }
        .secondImg {
            height: auto;
            margin-top: 60px;
            padding:  1px;
        }
    }
}

/* Project #2 - Styles */

.projectTwo {
    background-color: $yellow;
    padding: 1px;
    height: 100vh;
    h2 {
        padding: 20px 40px;
        border-top: 1px solid $darkPurple;
        border-bottom: 1px solid $darkPurple;
    }
    .content {
        padding: 40px;
        height: 90vh;
        display: flex;
        flex-wrap: wrap;
        color: $darkPurple;
        width: 100%;
    }

    .part {
        padding: 1px;
    } 

    .part1 p {
        padding: 1px;
        font-size: $lightSerif;
    }

    .partOneContent {
        display: flex;
        padding: 1px;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        p {
            width: 50%;
            padding: 40px;
            margin: 0;
        }
        .description {
            width: 50%;
            margin: 0;
        }
        .toolList {
            padding: 60px 40px 40px 40px;
        }
        .contentBox {
            display: flex;
        }
    }
    .direct2 {
        width: 100%;
        margin: 0 auto;
        &:last-child {
            align-self: flex-end;
        }
        .nextProject {
            display: flex;
            img {
                padding-left: 90%;
            }
        }
    }
    .projectLink {
        padding: 40px;
        width: 50%;
        border-left: 2px solid $darkPurple;
        margin-left: 100px;
        p {
            width: 100%;
            padding: 40px 0;
        }
    }
    
    .projectImg {
        width: calc(100% - 80px);
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 1px;
        margin: 0 auto;
        .img {
            width: 45%;
            padding: 1px;
            height: auto;
            img {
                width: 100%;
                height: auto;
                display: inline-block;
                margin: 0px;
            }
        }
    }
}

/* Project #3 - Styles */

.projectThree {
    padding: 1px;
    background-color: $blue;
    color: $grey;
    height: 100vh;
    .contentWrap {
        display: flex;
        flex-wrap: wrap;
    }
    .toolList {
        padding: 200px 20px 20px 20px;
        font-size: 2rem;
        border-left: 1px solid $grey;
        border-bottom: 1px solid $grey;
    }
    h2 {
        width: 100%;
        padding: 40px;
        border-bottom: 1px solid $grey;
    }
    .content {
        height: 90vh;
        padding: 1px 1 40px 1px;
    }
    .projectSection {
        width: 50%;
        padding: 40px;
        height: 90vh;
        h3 {
            font-size: 1.5rem;
        }
        .mainImg {
            width: 100%;
            padding: 1px;
            img {
                display: inline-block;
                width: 100%;
                height: auto;
            }
        }
        .description {
            padding: 40px 0 60px 0
        }
    }
    .direct3 {
        display: flex;
        .toFinal {
            align-self: flex-end;
        }
    }
}

/* Footer Styles */

footer {
    background-color: $darkPurple;
    height: 60%;
    width: 100%;
    margin: 0; 
    padding: 10px;  
    float: bottom;
    p {
        color: white; 
        margin: 0 auto;
        padding: 40px 20px;
        font-weight: 500;
        text-align: center;
    } 
}
