@media (max-width: 480px) {

    /* General */
    .section{
        height: auto;
    }
    .toolList {
        width: 100%;
    }
    .description{
        width: 100%;
    } 
    /* Header */
    header {
        aside {
            width: 100%;
            height: auto;
            
            .fas {
                font-size: 2rem;
                padding: 20px 0;
            }
        }
        .headerQuote p {
            width: 100%;
            padding: 40px 0;
        }

    }
    .headerNav {
        flex-direction: column;
        
    }
    .headerWrap {
        flex-direction: column-reverse;
        padding: 0 20px;
        .navSection {
            width: 100%;
        }
    }
    .headerSplash {
        h1 {
            width: 100%;
            font-size: 4rem;
        }
        h2 {
            width: 100%;
        }
        a {
                position: static;
            }
    }
    /* Main */
    .projectOne {
        flex-direction: column;
        padding: 40px 0;
        height: auto;
        width: 100%;
        h2 {
            width: 100%;
            padding: 20px 0;
        }
        .projectSection {
            padding: 1px 40px;
            width: 100%;
            height: auto;
            .description {
                width: 100%;
            }
        }
        .projSectTwo {
                flex-direction: column-reverse;
                width: 100%;
        }
        .content {
            flex-direction: column;
            height: auto;
            width: 100%;
        }
    }

    /* Project Two */

    .projectTwo {
        height: auto;
        width: 100%;
        h2 {
            padding: 20px 0;
        }
        .content {
            height: auto;
            padding: 20px;
            width: 100%;
        }
        .partOneContent {
            flex-direction: column;
            p {
                width: 100%;
                padding: 20px 0;
            }
        }
        .projectImg {
            flex-direction: column;
            justify-content: space-around;
            height: 50vh;
            width: 100%;
            padding: 20px;
            .img {
                width: 100%;
                height: auto;
                position: relative;
            }
            .img1 {
                bottom: -40px;
                left: -20px;
                z-index: 1;
                width: 100%;
            }
            .img2 {
                width: 100%;
                right: -20px;
            }
        }
    }
    


    /* Project Three*/
    .projectThree {
        width: 100%;
        h2 {
            padding: 20px;
        }
        .content {
            height: auto;
        }
        .toolList {
            padding: 20px 0 1px 0;
        }
        .contentWrap {
            flex-direction: column;
        }
        .projectSection {
            width: 100%;
            height: auto;
            padding: 20px;
        }
    }


    /* About */
    .aboutSection {
        flex-direction: column;
        height: auto;
    }
    .aboutContent {
        flex-direction: column;
        height: auto;
        width: 100%;
        .portrait {
            width: 80%;
            margin: 0 40px 20px 0;
        }
        .textWrap {
            width: 100%;
            h2 {
            width: 100%;
            padding: 20px 0;
            margin: 20px auto;
            }
        }
        .textWrapBox {
            width: 100%;
        }
        .skillIcons {
            width: 100%;
            padding: 20px 0;
        }
    }
    .contact {
        position: static;
        width: 100%;
        padding: 40px;
    }

    .openContact {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
    /**/
}