@media (max-width: 480px) {

    /* General */
    .section{
        height: auto;
    }
    .project__tool__list {
        width: 100%;
    }
    .description{
        width: 100%;
    } 
    /* Header */

    .header__quote {
            .header__quote__text {
                width: 100%;
                padding: 20px 0 10px 0;
            }
            .header__start--mobile {
                background: none;
                border: none;
                height: 50px;
                width: 60px;
                padding: 0;
                .fas {
                    font-size: 2rem;
                    padding: 20px 0;
                }
                &:hover {
                    .fas {
                        display: none;
                        visibility: hidden;
                    }
                    .header__start--mobile--a {
                    display: block;
                    height: auto;
                    visibility: visible;
                    font-size: 1rem;
                    }
                }
            }
        }

    .header__quote__text {
            width: 100%;
            padding: 40px 0;
    }

    .header__nav {
        flex-direction: column;
        
    }
    .header__wrap {
        flex-direction: column-reverse;
        padding: 0 20px;
        .heaer__nav--section {
            width: 100%;
        }
    }
    .header__splash {
        h1 {
            width: 100%;
            font-size: 4rem;
            margin: 0 20px 0 0;
        }
        h2 {
            width: 100%;
        }
        .header__splash--start {
                position: static;
                display: none;
                height: 0;
            }
    }


    /* Main */
    .project__airhead {
        flex-direction: column;
        padding: 40px 0;
        height: auto;
        width: 100%;
        h2 {
            width: 100%;
            padding: 20px 0;
        }
        .project__airhead--section {
            padding: 1px 40px;
            width: 100%;
            height: auto;
            .description {
                width: 100%;
            }
        }
        .project__airhead--sect-two {
                flex-direction: column-reverse;
                width: 100%;
        }
        .project__airhead--content {
            flex-direction: column;
            height: auto;
            width: 100%;
        }
    }

    /* Project Two */

    .project__whatdo {
        height: auto;
        width: 100%;
        h2 {
            padding: 10px;
            margin: 20px 40px;
        }
        .project__whatdo--content {
            height: auto;
            padding: 20px;
            width: 100%;
        }
        .project__whatdo--sect--one {
            flex-direction: column;
            .project__description, .project__tool__list {
                    padding: 10px 40px 10px 40px;
                    width: 100%;
            }
            .project__whatdo--sect--one--box {
                padding: 40px 0;
                flex-direction: column;
            }
            .project__link {
                padding: 40px;
                width: 100%;
                height: auto;
                margin: 0 40px;
                p {
                    width: 100%;
                }
            }
        }
        .project__whatdo--img {
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            padding: 40px;
            width: 100%;
            height: auto;
            position: relative;
            }
            .project__whatdo--img--one {
                width: 100%;
            }
            .project__whatdo--img--two {
                width: 100%;
            }
    }
    


    /* Project Three*/
    .projectThree {
        width: 100%;
        height: auto;
        h2 {
            padding: 20px;
        }
        .content {
            height: auto;
        }
        .project__tool__list {
            padding: 20px 0 1px 0;
        }
        .contentWrap {
            flex-direction: column;
            height: auto;
        }
        .projectSection {
            width: 100%;
            height: auto;
            padding: 20px;
            .project__tool__list {
            padding: 40px 0 1px 0;
            }
            .description2 {
                padding: 10px 0 40px 0;
            }
        }
        .projectLink {
            padding: 80px 0 40px 0;
        }
    }


    /* About */
    .aboutSection {
        flex-direction: column;
        height: auto;
        margin: 1px;
    }
    .aboutContent {
        flex-direction: column;
        height: auto;
        width: 100%;
        .portrait {
            width: 100%;
            padding: 40px 20px;
            margin: 0;
            float: none;
        }
        .textWrap {
            width: 100%;
            h2 {
            width: 100%;
            padding: 20px 0;
            margin: 20px auto;
            }
        }
        .textWrapBox {
            width: 100%;
        }
        .skillIcons {
            width: 100%;
            padding: 20px 0;
        }
    }
    .contact {
            position: static;
            width: 100%;
            padding: 10px 40px;
            div {
                .h3, 
            .socialIcons {
                padding: 0 40px;
                .h4 {
                    width: 100%;
                    padding: 40px 60px;
                }
            }
        }
    }

    .openContact {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
    /**/
}