@media (max-width: 480px) {

    /* General */
    .section{
        height: auto;
    }
    /* Header */
    header {
        aside {
            width: 100%;
            height: auto;
            
            .fas {
                padding: 40px 0;
            }
        }
        .headerQuote p {
            width: 100%;
            padding: 40px 0;
        }

    }
    .headerNav {
        flex-direction: column;
        
    }
    .headerWrap {
        flex-direction: column-reverse;
        padding: 0 20px;
        .navSection {
            width: 100%;
        }
    }
    .headerSplash {
        h1 {
            width: 100%;
            font-size: 4rem;
        }
        h2 {
            width: 100%;
        }
        a {
                position: static;
            }
    }
    /* Main */
    .projectOne {
        flex-direction: column;
        padding: 40px 0;
        height: auto;
        h2 {
            width: 100%;
            padding: 20px 0;
        }
        .projectSection {
            padding: 1px 40px;
            width: 100%;
            height: 80vh;
            p.description {
                padding: 20px 0;
            }
        }
        .projSectTwo {
                flex-direction: column-reverse;
        }
        .content {
            flex-direction: column;
            height: auto;
        }
    }

    /* Project Two */

    .projectTwo {
        height: auto;
        h2 {
            padding: 20px 0;
        }
        .content {
            height: auto;
            padding: 20px;
        }
        .partOneContent {
            flex-direction: column;
            p {
                width: 100%;
                padding: 20px 0;
            }
        }
        .projectImg {
            flex-direction: column;
            justify-content: space-around;
            height: 50vh;
            width: 100%;
            padding: 20px;
            .img {
                width: 75%;
                height: auto;
                position: relative;
            }
            .img1 {
                bottom: -40px;
                left: -20px;
                z-index: 1;
            }
            .img2 {
                width: 100%;
                right: -20px;
            }
        }
    }
    


    /* Project Three*/
    .projectThree {
        h2 {
            padding: 20px;
        }
        .content {
            height: auto;
        }
        .toolList {
            padding: 20px 0 1px 0;
        }
        .contentWrap {
            flex-direction: column;
        }
        .projectSection {
            width: 100%;
            height: auto;
            padding: 20px;
        }
    }


    /* About */
    /**/
}